.container{
    background: #f9f9f9;
    padding-inline-start: 5%;
    padding-inline-end: 2%;
    padding-block-start: 20px;
    padding-block-end: 20px;
}

.container-grande{
    padding-inline-start: 1%;
}

@media (max-width:900px){
    .container-grande , .container{
        padding-inline-start: 5%;
        padding-inline-end: 5%;
    }
}