body {
    background-color: #151515;
    margin: 0; 
    padding: 0; 
}

.app-light {
    background-color: #ffffff;
    color: #000000;
}

.app-noturno {
    background-color: #151515;
    color: #c4c4c4;
}
